body,
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

a:hover, a:focus {
  color: transparent;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-default,
.ss-superphrase,
.square-gallery {
  font-family: 'Amatic SC', cursive;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus{
  font-weight: bold;
  font-size: 21px;
}

.navbar-default.affix {
  border-color: rgba(34,34,34,.05);
  background-color: #F8C900;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24);
}

.navbar{
  border: none;
  min-height: 70px;
}

.navbar-nav>li>a{
  padding-top: 24px;
}

header .header-content{
  text-align: right;
}

header{
  background-image: url(https://letb.s3-sa-east-1.amazonaws.com/SS/C%C3%93DIGO/DSC_0009.JPG);
}

p {
  margin-right: none;
}

.bg-primary{
  background-color: #432918;
}

h2{
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

hr{
  max-width: 80px;
}

.text-faded{
  text-align: center;
  font-weight: lighter;
}

.sofia{
  background-image: url(https://letb.s3-sa-east-1.amazonaws.com/SS/C%C3%93DIGO/SS_context17_brown.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
}

#services, .square-gallery:hover{
  background-color: #432918;
}

.white-title, a .ss-button-title, .text-muted, .square-gallery h2 {
  color: #FFF;
}

.text-muted {
  font-weight: lighter;
}

.ss-button-title::after{
  background-color: #FFF;
}

#jewery .container, .square-gallery {
  background-color: #F8C900;
}

.ss-superphrase{
  font-size: 34px;
}

.wrap-gallery {
  background-color: #FFF;
}

a.to-rrss-link, .to-contact-text {
  color: #432918;
  padding: 10px 0;
  font-size: 21px;
  margin: 0;
}

