section {
  padding: 0;
}
.container{
  padding-top: 50px;
  width: 100%;
}
.SSnav-logo{
  width: 150px;
}

.circle-ss-icon{
  border-radius: 300px;
  background-color: #FFF;
}

.row {
  display: flex;
  justify-content: space-between;
}

.service-box {
  display: flex;
  flex-direction: row;
  max-width: none;
  justify-content: flex-start;
}

.ss-icon {
  width: 250px;
  height: 250px;
  padding: 50px;
}

.ss-class-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ss-button-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
  padding-left: 20px;
}

.ss-button-title::after {
  content:'';
  background-color: #FFF;
  position: absolute;
  width: 110%;
  height: 3px;
  left: -18px;
  top: 60px;
}

.text-muted {
  text-align: right;
  padding-top: 15px;
}

.ss-dragonfly-phrase {
  background-image: url("https://letb.s3-sa-east-1.amazonaws.com/SS/SS_joya70_maxwidth.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ss-superphrase {
  width: 30%;
  margin-left: 10%;
}

.wrapper-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 620px;
  justify-content: space-between;
  padding: 10px 1%;
}

.square-gallery {
  width: 32%;
  height: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.square-gallery h2 {
  margin-right: 10px;
}
