.SSnav-logo{
  width: 150px;
}

.circle-ss-icon{
  border-radius: 300px;
  background-color: #FFF;
}

.row {
  display: flex;
  justify-content: space-around;
}

.service-box {
  display: flex;
  flex-direction: row;
}

.ss-icon {
  width: 250px;
  height: 250px;
  padding: 50px;
}