.SSnav-logo{
  width: 150px;
}

.circle-ss-icon{
  border-radius: 300px;
  background-color: #FFF;
}

.row {
  display: flex;
  justify-content: space-around;
}

.service-box {
  display: flex;
  flex-direction: row;
}

.ss-icon {
  width: 250px;
  height: 250px;
  padding: 50px;
}

.ss-class-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.ss-button-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.ss-button-title::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
}