{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="class-desc-j">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">Descripción</h2>
                <p class="text-faded">
                    Las clases de joyería para novios están enfocadas a aquellas parejas que deseen ser partícipes de cada detalle del proceso del
                    matrimonio, y tengan las ganas de marcar la diferencia atreviéndose a elaborar sus propias argollas, otorgándole así un valor
                    adicional a la confección de éstas, pues cada anillo tendrá su origen en la dedicación y el amor que existe entre ambos.
                    No es necesario tener conocimientos previos.
                    Las clases son personalizadas. La duración de cada clase es de 3 horas cronológicas.
                </p>
            </div>
        </div>
    </div>
</section>