{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="class-desc-j">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">Descripción</h2>
                <p class="text-faded">
                    Las clases de joyería están enfocadas a todas las personas que quieran aprender este oficio. Se enseñan variadas técnicas y
                    procesos que permiten la creación de una joya, pasando por varias etapas. Se realizan ejercicios donde cada alumno desarrolla
                    su propio diseño, poniendo énfasis en la calidad y creación.
                    La duración de cada etapa depende de la disposición, habilidad e interés de cada alumno.
                    No es necesario tener conocimientos previos.
                    Las clases son personalizadas. La duración de cada clase es de 3 horas cronológicas.
                </p>
            </div>
        </div>
    </div>
</section>