<section id="details-class-j">
    <div class="yellow-border-box">
        <div class="obj-class">
            <h3>Objetivos</h3>
            <p>
                - Adquirir un adecuado manejo de los metales nobles,
                principalmente de la Plata (Ag), a través del uso de las
                diferentes herramientas.
                <br>
                - Inculcar la importancia de las terminaciones y
                limpieza en los trabajos.
                <br>
                - Lograr un acercamiento a las gemas, sus usos y sus
                diferentes formas de engastar.
                <br>
                <br>
                A través de los diferentes trabajos y etapas el alumno
                se ira acercando y adquiriendo conocimientos sobre el
                arte de la orfebrería. Algunos de estos son: adecuado
                uso de las herramientas de joyería, seguridad en el
                taller, preparación del metal (aleaciones), preparación
                de soldadura, fundición, laminación, calado, limado,
                lijado, texturas, volúmenes, engastes, broches,
                propiedades de las gemas, etc.
            </p>
        </div>
        <div class="obj-class">
            <h3>Materiales</h3>
            <p>
                Los metales nobles (plata, oro, etc.), así como las
                piedras deben ser traídos por el alumno.
                <br>
                <br>
                Además, el alumno deberá traer las siguientes
                herramientas básicas:
                <br>
                - Sierras 3/0
                <br>
                - Lijas al agua: 280, 400, 600, 1000 y 1500
                <br>
                - Brocas para metal: 0.8 mm y 1 mm.
                <br>
                - Delantal y cuaderno.
                <br>
                El resto de las herramientas se encuentran disponibles
                en el taller para ser usadas por los alumnos.
            </p>
            <h3>Valor</h3>
             <p>
                - 4 clases al mes tienen un costo de $80.000.
            </p>
        </div>
    </div>
</section>