<section id="details-class-n">
    <div class="yellow-border-box">
        <div class="obj-class">
            <h3>Objetivos</h3>
            <p>
                Adquirir técnicas y procesos que permiten la creación
                de un anillo, poniendo énfasis en la calidad y
                creación.
                <br>
                
                <br>
                <br>
                La cantidad de clases necesarias para la confección de
                las argollas son, por lo general, entre 2 a 3 clases,
                depende de la disposición, habilidad e interés de
                cada pareja.
            </p>
        </div>
        <div class="obj-class">
            <h3>Materiales</h3>
            <p>
                Según el diseño de las argollas que se defina, se
                calculará la cantidad necesaria de metal.
                <br>
                <br>
                Herramientas básicas:
                <br>
                - Sierras 3/0
                <br>
                - Lijas al agua: 280, 400, 600 y 1000
                <br>
                - Delantal y cuaderno.
                <br>
                <br>
                El resto de las herramientas se encuentran disponibles
                en el taller para ser usadas por los alumnos.
            </p>
            <h3>Valor</h3>
             <p>
                El valor de cada clase es de $50.000 por pareja.
            </p>
        </div>
    </div>
</section>