{{ "<!-- FOOTER -->" | safeHTML }}
<section id="footer">
    <div class="row">
        <div class="square-footer">
            <a href="#" class="logo-btn-home">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/C%C3%93DIGO/SS_logo%402x.png" class="logo-footer">
            </a>
        </div>
        <div class="square-footer">
            <h3>Contáctame</h3>
            <p class="to-contact-text">(56)(9) 8219 4648</p>
            <p class="to-contact-text">sofiaorfebre@gmail.com</p>
        </div>
        <div class="square-footer">
            <h3>Sígueme en Redes Sociales</h3>
            <a href="https://www.facebook.com/sofiasalinasorfebre/" class="to-contact-text">/sofiasalinasorfebre</p>
            <a href="https://www.instagram.com/sofiasalinas_orfebre/"class="to-contact-text">@sofiasalinas_orfebre</p>
        </div>
    </div>
</section>