{{ "<!-- FOOTER -->" | safeHTML }}
<section id="footer">
        <div class="square-footer">
            <a href="#" class="logo-btn-home">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/C%C3%93DIGO/SS_logo%402x.png" class="logo-footer">
            </a>
        </div>
        <div class="square-footer">
            <h3>Contáctame</h3>
            <span class="to-contact-text">(56)(9) 8219 4648</span>
            <span class="to-contact-text">sofiaorfebre@gmail.com</span>
        </div>
        <div class="square-footer">
            <h3>Sígueme en Redes Sociales</h3>
            <a class="to-rrss-link" href="https://www.facebook.com/sofiasalinasorfebre/">/sofiasalinasorfebre</a>
            <a class="to-rrss-link" href="https://www.instagram.com/sofiasalinas_orfebre/">@sofiasalinas_orfebre</a>
        </div>
</section>