{{ "<!-- FOOTER -->" | safeHTML }}
<section id="footer">
    <div class="footer-division-yellow"></div>
    <div class="footer-content">
        <div class="square-logo">
            <a href="#" class="logo-btn-home">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/logoss_white_footer%402x.png" class="logo-footer">
            </a>
        </div>
        <div class="square-footer">
            <h3>Contáctame</h3>
            <a href="tel:56982194648" class="to-rrss-link">(56)(9) 8219 4648</a>
            <a href="mailto:sofiaorfebre@gmail.com" class="to-rrss-link">sofiaorfebre@gmail.com</a>
        </div>
        <div class="square-footer">
            <h3>Sígueme en Redes Sociales</h3>
            <a class="to-rrss-link" href="https://www.facebook.com/sofiasalinasorfebre/">/sofiasalinasorfebre</a>
            <a class="to-rrss-link" href="https://www.instagram.com/sofiasalinas_orfebre/">@sofiasalinas_orfebre</a>
        </div>
    </div>
    <div class="footer-cc-letb">Fotografía, diseño y desarrollo por <a href="https://letb.cl">let b</a>. Todos los derechos reservados. 2020</div>
</section>
