{{ "<!-- GALLERY -->" | safeHTML }}
<section id="gallery">
    <div class="brown-line"></div>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/newSelection/8.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/newSelection/6.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/ii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/iii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/newSelection/7.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/iv.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/v.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/vii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/viii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/ix.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/x.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/xi.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/xii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/xiii.jpg">
        </div>
        <div class="item">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/xiv.jpg">
        </div>
    </div>
</section>