{{ "<!-- GALLERY -->" | safeHTML }}
<section id="gallery">
    <div class="owl-carousel">
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4439.JPG" style="width: 300px;">
        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4447.JPG" style="width: 300px;">
        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4457.JPG" style="width: 300px;">

        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4463.JPG" style="width: 300px;">
        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4495.JPG" style="width: 300px;">
        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4525.JPG" style="width: 300px;">
        </div>
        <div>
            <img src="https://letb.s3-sa-east-1.amazonaws.com/SS/fotos+sin+editar/IMG_4601.JPG" style="width: 300px;">
        </div>
      </div>
</section>