{{ "<!-- GALLERY -->" | safeHTML }}
<section id="gallery">
    <div class="wrapper-gallery">
        <a href="#" class="square-gallery"><h2>Aros</h2></a>
        <a href="#" class="square-gallery"><h2>Anillos</h2></a>
        <a href="#" class="square-gallery"><h2>Argollas de Matrimonio</h2></a>
        <a href="#" class="square-gallery"><h2>Collares y prendedores</h2></a>
        <a href="#" class="square-gallery"><h2>Pulseras</h2></a>
        <a href="#" class="square-gallery"><h2>Anillos de Compromiso</h2></a>
    </div>
</section>