{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
        </div>
        <div>
            {{ with .Site.Params.hero.buttonText }}
                <a href="#about" class="page-scroll arrow-ss"></a>
            {{ end }}
        </div>
    </div>
</header>
