{{ "<!-- JEWERY -->" | safeHTML }}
<section id="jewery">
    {{ with .Site.Params.jewery.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading white-title">{{ . }}</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="ss-dragonfly-phrase">
        <p class="ss-superphrase">
            Cada joya es un desafío, es conectarse con los anhelos de
            otro, interpretar los materiales, la nobleza de los metales, 
            la energía de cada piedra. 
            Las manos que dan forma con fuerza y que fijan las piezas con 
            extremo detalle.
        </p>
    </div>
</section>