{{ "<!-- SERVICES -->" | safeHTML }}
<section id="services">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading white-title">{{ . }}</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            {{ range .Site.Params.services.list }}
            <div class="col-md-6 text-center">
                <a href="#" class="service-box">
                    <div class="circle-ss-icon">
                        <img  src="{{ .icon }}" class="bounceIn text-primary ss-icon">
                    </div>
                    <div class="ss-class-type">
                        <h2 class="ss-button-title">{{ .title }}</h3>
                        <div class="ss-button-line"></div>
                        {{ with .description }}
                            <p class="text-muted">{{ . }}</p>
                        {{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
